# Core functionality - changes here should be rare!
/src/app.py                   @MeTeoRise
/src/backend/database.py      @MeTeoRise
/src/backend/routers/auth.py  @MeTeoRise

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MeTeoRise
